<div class="container">

    <div class="jumbotron">
        <h1 class="display-4">Create Group</h1>
        <p>My teather Academy has world-class, standards-aligned content for K-14 Math, Science, History, AP®, SAT®, and
            more.</p>
        <hr class="my-4">
    </div>
    <form class="d-flex w-75 m-auto mt-4 mb-4" role="search">
    </form>
    <div class="w-75 m-auto" style="height: 575px;">
        <div class="row">
            <div class=" col-md-6 col-12 mt-4 ">
                <div class="jumbotron">
                    <h5 class="fs-4">Choose Grade</h5>
                    <hr class="my-4 w-75">
                    @for (Grade of Grades; track Grade.grade_ID) {
                        <input class="form-check-input" type="radio" id="{{Grade.grade_ID}}" 
                        (change)="onchange(Grade.grade_ID)" name = "{{Grade}}">
                        <label class="form-check-label" for="{{Grade.grade_ID}}">{{Grade.grade_Name}}</label>
                        <br><br>
                    }
                    
                </div>
            </div>
            <div class=" col-md-5 col-12 mt-4 ">
                @if (grade_ID != 0 ) {
                    <app-dash-board-grade-one [grade_ID] ="grade_ID" ></app-dash-board-grade-one>
                }
                
            </div>
        </div>
    </div>

</div>
<!-- <div class="container">
    <div class="w-75 m-auto">
        @for(g of groups;track g.id){
        <app-all-courses [oneGroup]="g"></app-all-courses>
        }
    </div>
</div> -->

<!-- <form action="">
        <div class="row">
            <label for="Grade" class="col-sm-2 col-form-label">Grade</label>
            <div class="col-sm-10">
                <input type="text" readonly="" class="form-control-plaintext" id="Grade" name="Grade" value="">
            </div>
        </div>
        <div class="row">
            <label for="subject" class="col-sm-2 col-form-label">subject</label>
            <div class="col-sm-10">
                <input type="text" readonly="" class="form-control-plaintext" id="subject" name="subject" value="">
            </div>
        </div>
        <div>
            <label for="Course-Name" class="form-label mt-4">Course Name</label>
            <input type="email" class="form-control" id="Course-Name"  placeholder="Enter Course Name">
        </div>
    </form> -->